growth_curves
20180103185122_AUREOWIKI_LIBRARY_Cytoplasmic_HG_ST_RPMI_TSB_percentile0-125_iRT_profiling
.DS_Store
Saureus__aureowiki_GeneSpecificInformation_NCTC8325 2.tsv
Saureus__aureowiki_GeneSpecificInformation_NCTC8325 3.tsv
Germany_temperature 2
protein_concentration_determination_BCA 2
ROPECA_test_results_pairwise_comparisons__rho_project.txt
